In [1]:
import org.apache.spark.sql.SparkSession

Intitializing Scala interpreter ...

Spark Web UI available at http://EM2021002778.bosonit.local:4040
SparkContext available as 'sc' (version = 3.1.1, master = local[*], app id = local-1620892133039)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession

In [2]:
val spark = SparkSession
.builder
.appName("cap 5 extra")
//.config("spark.jars.packages", "com.databricks:spark-avro_2.12:3.1.1")
//.config("spark.sql.catalogImplementation","hive")
.enableHiveSupport()
.getOrCreate()

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@35f2dc8

In [12]:
// Read Option 1: Loading data from a JDBC source using load method
val emplo = spark
.read
.format("jdbc")
.option("url", "jdbc:mysql://localhost:3306/employees")
.option("driver", "com.mysql.jdbc.Driver")
.option("dbtable", "employees")
.option("user", "root")
.option("password", "Bosonit2021!")
.load()

emplo: org.apache.spark.sql.DataFrame = [emp_no: int, birth_date: date ... 4 more fields]

In [13]:
emplo.createOrReplaceTempView("emplo")

In [14]:
spark.sql("SELECT * FROM emplo").show()

+------+----------+----------+-----------+------+----------+
|emp_no|birth_date|first_name|  last_name|gender| hire_date|
+------+----------+----------+-----------+------+----------+
| 10001|1953-09-02|    Georgi|    Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|     Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|    Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|    Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi|   Maliniak|     M|1989-09-12|
| 10006|1953-04-20|    Anneke|    Preusig|     F|1989-06-02|
| 10007|1957-05-23|   Tzvetan|  Zielinski|     F|1989-02-10|
| 10008|1958-02-19|    Saniya|   Kalloufi|     M|1994-09-15|
| 10009|1952-04-19|    Sumant|       Peac|     F|1985-02-18|
| 10010|1963-06-01| Duangkaew|   Piveteau|     F|1989-08-24|
| 10011|1953-11-07|      Mary|      Sluis|     F|1990-01-22|
| 10012|1960-10-04|  Patricio|  Bridgland|     M|1992-12-18|
| 10013|1963-06-07| Eberhardt|     Terkki|     M|1985-10-20|
| 10014|1956-02-12|     Berni|      Genin|     M|1987-03-11|
| 10015|1959-08-19|  Guoxiang|  Nooteboom|     M|1987-07-02|
| 10016|1961-05-02|  Kazuhito|Cappelletti|     M|1995-01-27|
| 10017|1958-07-06| Cristinel|  Bouloucos|     F|1993-08-03|
| 10018|1954-06-19|  Kazuhide|       Peha|     F|1987-04-03|
| 10019|1953-01-23|   Lillian|    Haddadi|     M|1999-04-30|
| 10020|1952-12-24|    Mayuko|    Warwick|     M|1991-01-26|
+------+----------+----------+-----------+------+----------+
only showing top 20 rows

In [15]:
val sala = spark
.read
.format("jdbc")
.option("url", "jdbc:mysql://localhost:3306/employees")
.option("driver", "com.mysql.jdbc.Driver")
.option("dbtable", "salaries")
.option("user", "root")
.option("password", "Bosonit2021!")
.load()

sala: org.apache.spark.sql.DataFrame = [emp_no: int, salary: int ... 2 more fields]

In [16]:
sala.createOrReplaceTempView("sala")

In [17]:
spark.sql("SELECT * FROM sala").show()

+------+------+----------+----------+
|emp_no|salary| from_date|   to_date|
+------+------+----------+----------+
| 10001| 60117|1986-06-26|1987-06-26|
| 10001| 62102|1987-06-26|1988-06-25|
| 10001| 66074|1988-06-25|1989-06-25|
| 10001| 66596|1989-06-25|1990-06-25|
| 10001| 66961|1990-06-25|1991-06-25|
| 10001| 71046|1991-06-25|1992-06-24|
| 10001| 74333|1992-06-24|1993-06-24|
| 10001| 75286|1993-06-24|1994-06-24|
| 10001| 75994|1994-06-24|1995-06-24|
| 10001| 76884|1995-06-24|1996-06-23|
| 10001| 80013|1996-06-23|1997-06-23|
| 10001| 81025|1997-06-23|1998-06-23|
| 10001| 81097|1998-06-23|1999-06-23|
| 10001| 84917|1999-06-23|2000-06-22|
| 10001| 85112|2000-06-22|2001-06-22|
| 10001| 85097|2001-06-22|2002-06-22|
| 10001| 88958|2002-06-22|9999-01-01|
| 10002| 65828|1996-08-03|1997-08-03|
| 10002| 65909|1997-08-03|1998-08-03|
| 10002| 67534|1998-08-03|1999-08-03|
+------+------+----------+----------+
only showing top 20 rows

In [18]:
val title = spark
.read
.format("jdbc")
.option("url", "jdbc:mysql://localhost:3306/employees")
.option("driver", "com.mysql.jdbc.Driver")
.option("dbtable", "titles")
.option("user", "root")
.option("password", "Bosonit2021!")
.load()

title: org.apache.spark.sql.DataFrame = [emp_no: int, title: string ... 2 more fields]

In [19]:
title.createOrReplaceTempView("title")

In [20]:
spark.sql("SELECT * FROM title").show()

+------+------------------+----------+----------+
|emp_no|             title| from_date|   to_date|
+------+------------------+----------+----------+
| 10001|   Senior Engineer|1986-06-26|9999-01-01|
| 10002|             Staff|1996-08-03|9999-01-01|
| 10003|   Senior Engineer|1995-12-03|9999-01-01|
| 10004|          Engineer|1986-12-01|1995-12-01|
| 10004|   Senior Engineer|1995-12-01|9999-01-01|
| 10005|      Senior Staff|1996-09-12|9999-01-01|
| 10005|             Staff|1989-09-12|1996-09-12|
| 10006|   Senior Engineer|1990-08-05|9999-01-01|
| 10007|      Senior Staff|1996-02-11|9999-01-01|
| 10007|             Staff|1989-02-10|1996-02-11|
| 10008|Assistant Engineer|1998-03-11|2000-07-31|
| 10009|Assistant Engineer|1985-02-18|1990-02-18|
| 10009|          Engineer|1990-02-18|1995-02-18|
| 10009|   Senior Engineer|1995-02-18|9999-01-01|
| 10010|          Engineer|1996-11-24|9999-01-01|
| 10011|             Staff|1990-01-22|1996-11-09|
| 10012|          Engineer|1992-12-18|2000-12-18|
| 10012|   Senior Engineer|2000-12-18|9999-01-01|
| 10013|      Senior Staff|1985-10-20|9999-01-01|
| 10014|          Engineer|1993-12-29|9999-01-01|
+------+------------------+----------+----------+
only showing top 20 rows

### JOIN

In [22]:
spark.sql("""select emplo.emp_no, emplo.birth_date, emplo.first_name, emplo.last_name, sala.salary, title.title 
from emplo inner join sala on emplo.emp_no = sala.emp_no
inner join title on emplo.emp_no = title.emp_no""").show()

+------+----------+----------+---------+------+----------------+
|emp_no|birth_date|first_name|last_name|salary|           title|
+------+----------+----------+---------+------+----------------+
| 10206|1960-09-19|  Alassane|  Iwayama| 40000|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 43519|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 46265|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 46865|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 47837|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 52042|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 52370|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 53202|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 56087|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 59252|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 62716|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 67137|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 67944|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 67588|Technique Leader|
| 10206|1960-09-19|  Alassane|  Iwayama| 71052|Technique Leader|
| 10362|1963-09-16|   Shalesh|  dAstous| 40000|    Senior Staff|
| 10362|1963-09-16|   Shalesh|  dAstous| 44091|    Senior Staff|
| 10362|1963-09-16|   Shalesh|  dAstous| 45546|    Senior Staff|
| 10362|1963-09-16|   Shalesh|  dAstous| 49296|    Senior Staff|
| 10362|1963-09-16|   Shalesh|  dAstous| 48889|    Senior Staff|
+------+----------+----------+---------+------+----------------+
only showing top 20 rows